.featuresHighlight h1 {
    text-align: center;
    width: 536px;
    margin-inline: auto;
}

.sectionPlate {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.wholesomeFood {
    margin-top: -16px;
}

.flexColumnBetween {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.gap16 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    display: flex;
    justify-content: center;
}

.gap8 {
    gap: 8px;
}

.gap24 {
    gap: 24px;
    display: flex;
    align-items: center;
}

.paymentIcons {
    display: flex;
}

@media (max-width: 1330px) {
    .flexColumnBetween {
        flex-direction: row;
        gap: 30px;
    }
    .sectionPlate {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 686px) {
    .plate img {
        width: 100%;
        height: auto;
        margin-inline: auto
    }

    .gap24 {
        flex-direction: column;
        gap: 0;
    }

    .flexColumnBetween {
        flex-direction: column;
        gap: 10px;
    }

    .button button {
        width: 85%;
    }
}