body {
  background-color: #fff;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}

section {
  padding-block: 80px;
}

.sectionWidth {
  margin-inline: auto;
  width: 1200px;
}

h1, h2 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.25;
  margin-block: 0;
}

h1 {
  margin-bottom: 52px;
}

p {
  color: #424153;
  line-height: 1.5;
  letter-spacing: 0.5;
}

button {
  background-color: #ee6f4b;
  color: #fff;
  border: 1px solid #ee6f4b;
  border-radius: 6px;
  width: 462px;
  padding: 12px 40px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ee6f11;
}

.mediumText {
  color: #161723;
  font-weight: 600;
}

.mediumText-md {
  font-size: 19px;
}

.flexCenter {
  display: flex;
  gap: 24px;
  align-items: center;
}

.bg-oldSection {
  background-color: #f8f8f8;
}

@media (max-width: 1330px) {
  .sectionWidth {
    width: 85%;
  }
}


@media (max-width: 686px) {
  h1 {
    width: 85% !important;
  }
  h1, h2 {
    font-size: 25px;
    text-align: center;
  }
}